<?xml version="1.0" encoding="utf-8"?>
<SerioCommands version="1.0">
   <DisplayForm>
      <Script>
         <![CDATA[
         <UiScreen>
            <Title>Novo Documento - Digitalizar</Title>
            <LinkScreen>
               <LinkControl>
                  
                  <%= @param[:item] %>


               </LinkControl>
            </LinkScreen>
         </UiScreen>
         ]]>
      </Script>
   </DisplayForm>
</SerioCommands>