<?xml version="1.0" encoding="utf-8"?>
<SerioCommands version="1.0">
   <DisplayForm>
      <Script>
         <![CDATA[
         <UiScreen>

            <Title>Novo Documento - Digitalizar</Title>
            <LinkScreen>
               <LinkControl>

                    <LinkItem href="/documentoNumero/rg">
                        <Label>RG</Label>
                    </LinkItem>

                    <LinkItem href="/documentoNumero/cpf">
                        <Label>CPF</Label>
                    </LinkItem>

                    <LinkItem href="/documentoNumero/titulo_eleitor">
                        <Label>Titulo Eleitor</Label>
                    </LinkItem>
                  
                  
                  
                  <LinkItem href="/documento/carteira_trabalho">
                    <Label >Carteira de Trabalho</Label>
                  </LinkItem>
                 
                  <LinkItem href="/documento/foto_34">
                    <Label >Foto 3x4</Label>
                  </LinkItem>

                   <LinkItem href="/documento/exame_medico">
                        <Label >Exame Médico</Label>
                    </LinkItem>

                    <LinkItem href="/documento/comprovante_residencia">
                        <Label>Comprovante de Residencia</Label>
                    </LinkItem>

                    <LinkItem href="/documento/pis">
                        <Label>PIS</Label>
                    </LinkItem>

                    <LinkItem href="/documento/certificado_escolar">
                        <Label>Documento Escolar</Label>
                    </LinkItem>

                    <LinkItem href="/documento/reservista">
                        <Label>Reservista</Label>
                    </LinkItem>

                    <LinkItem href="/documento/comprovante_estado_civil">
                        <Label>Comp. Estado Civil</Label>
                    </LinkItem>
                    
                    <LinkItem href="/documento/proposta_trabalho">
                        <Label>Proposta de Emprego </Label>
                    </LinkItem>

               </LinkControl>
            </LinkScreen>
         </UiScreen>
         ]]>
      </Script>
   </DisplayForm>
</SerioCommands>